:root{
    --white: #FFFFFF;
    --blue: #00ffdd;
        }
body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    margin-top:15px;
    align-items: center;
    justify-content:center;
    font-weight:bolder;
    }
header #logo{
    
                font-size: 1.1em;
        }
 header nav {
        font-size:0.8em;
         margin-left:100px;
        }
 header nav a{
    margin-left: 15px;
    text-decoration: none;
    color:#000000;
        
     }
header nav #wel{
    border-bottom: 2px solid blue;


    
}     
.landing{
    background-image: url(../media/integration.jpg);
    height:45vh;
    width:100%;
}
.landing {
    text-align:center;
    color:var(--white);
}
.landing h1{
    font-size:1.5vem;
    padding-top: 70px;
}

.btn1
{

    color:var(--white);
    border: 1px solid #FFFFFF;
    padding:5px;
    font-size:10px;
    background-color: transparent;

}
.btn2
{

    color:var(--white);
    padding:5px;
    font-size:10px;
    background-color:var(--blue);
    border: 1px solid var(--blue);
}
.section1{
    display:flex;
    margin-top:20px;
    margin-left: 100px;
    margin-right: 100px;
    align-content: flex-start;
    }
.section1 div{
        padding:5px;
        }
.section1 div h3{
            font-size:1em;
            }
.section1 div p{
        font-size:0.75em;
        }
.b-footer {
text-align:center;
}
.b-footer p{
    font-size: 0.9rem;
}