:root{
    --yellow:#FFC54D;
    --green:#53BF9D;
    --red:#F94C66;
    --violet:#BD4291;
    --white:whitesmoke;

}
body,h2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
   
}
.Landing{
    background: url('../media/Spicy_Img.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    color:var(--white);
}
header a{
    text-decoration: none;
    color:var(--yellow);
    min-width: 120px;
}
header{
    display: flex;
    flex:wrap;
    row-gap: 1em;
    padding:1em;
}
header h2 i,nav a i{
    margin-right:0.5em;
}
#logo{
    flex:3;
    font-size:1.2em;
    min-width: 260px;
}
nav{
    flex:2;
    display: flex;
    align-items:center;
}
nav a{
    flex:1;
}
nav a:hover{
    color:var(--green)
}
.maintext{
    display: flex;
    flex-direction:column;
    height:50vh;
    justify-content:center;
    padding:2em;
}
.tagline1{
    color: var(--red);
    font-size:2.5em;
    font-weight:bold;
}
.tagline2{
    color:var(--yellow);
}
.maintext div{
    margin-top:0.75em;
}
.maintext button{
    width:20vw;
    margin-top:2em;
    border-radius: 10px;
    padding:0.7em;
    background-color: var(--green);
    color:var(--white);
    border: 1px solid var(--green);
}
.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    background:linear-gradient(to right, rgb(100,100,100), rgb(50, 52, 52));
    color: var(--white);
    
}
#menuheading,#locheading{
    background:linear-gradient(to right, rgb(100,100,100), rgb(50, 52, 52));
    font-size:2.5em;
    color: var(--red);
    display: flex;
    justify-content: center;
}
.menu th{
    color:var(--green);
    font-size:1.5em;
}
table{
    width:100%;
    padding:1em;
}
.menu tr{
    display:flex;
    justify-content: center;
    margin-top:0.8em;
}
.menu td:nth-child(1){
    flex:1;
    justify-self:left;
}
.menu td:nth-child(2){
    justify-self:right;
}
.maincourse{
    grid-row:span 2;
   
}
.locations{
    background:linear-gradient(to right, rgb(100,100,100), rgb(50, 52, 52));
    color:var(--white);
    display: flex;
    flex-wrap:wrap;
    
}
.locations h2{
    color:var(--green);
    margin-bottom:.8em;
}
.locations div{
    flex:1;
    padding:1em;
    min-width:135px;
}

footer{
    background-color: rgb(50, 52, 52);
    color:var(--white);
    padding:.25em 1em;
}

ul li {
    list-style: none;
    margin-right: 18px;
    border-radius: 20px;
    background: rgb(243, 243, 243);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    width: 80px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 160%;
    width: 140%;
    top: 80%;
    left: -120%;
    background: rgb(0, 96, 223);
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}

ul li:hover i {
    transition: all .2s linear;
    transform: scale(1.2);
    color: #fff;
}

ul li:hover::before {
    top: -28%;
    left: -7%;
}

ul li i {
    font-size: 24px;
    color: #196bdd;
}

